@mixin pos($position: p, $top: t, $right: r, $bottom: b, $left: l){
  @if $position != 'p' {
    position: $position;
  }
  @if $top != 't' {
    top: $top;
  }
  @if $right != 'r' {
    right: $right;
  }
  @if $bottom != 'b' {
    bottom: $bottom;
  }
  @if $left != 'l' {
    left: $left;
  }
}