$brand-color: #177ec1;
$brand-color-dark: #00386C;
$brand-color-light: #28ACE2;

$brand-body-bg: #edf0f2;

$brand-table-hover-bg: rgba($brand-color-light, 0.08);
$brand-table-alt-bg: rgba($brand-color, 0.03);

$brand-leftnav-width: 260px;
$brand-column-width: 290px;
$brand-header-height: 63px;
$brand-header-height-sm: 46px;