html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #1e2022
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ddd;
}

.table {
  &.verapi-table {
    margin-bottom: 0;

    thead {
      th {
        border: 0;
        font-size: 0.875rem;
        font-weight: 500;
      }
    }
    tbody {
      border: 0;

      tr {
        td {
          border: 0;
          font-size: 0.875rem;
        }

        &.odd {
          & > td {
            background-color: #f8fafd;
          }
        }
      }
    }
    th {
      border: 0;
      font-size: 0.85rem;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1;
      position: relative;
      padding-right: 24px;
      a {
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
    tr.is-deleted {
      opacity: 0.35;
      td:first-child { position: relative;
        &:before  {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          border-right: 10px solid transparent;
          border-left: 10px solid red;
          border-bottom: 10px solid transparent;
          height: 0;
          width: 0;
          z-index: 1;
        }
      }
    }
  }
}

dd:empty {
  &:after {
    content: '-';
  }
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

pre {
  margin-bottom: 0;
}

.silver-bg {
  background-color: #eeeeee;
}

.table-placeholder-item {
  width: 100%;
  height: 20px;
  border: 1px solid #f8f8f8;
  border-radius: 1rem;
  background-image: 
    repeating-linear-gradient(
      -45deg,
      #f8f8f8,
      #f8f8f8 11px,
      #eee 10px,
      #eee 20px /* determines size */
    );
  background-size: 28px 28px;
  animation: move .5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}