html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #1e2022
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ddd;
}

.table {
  &.verapi-table {
    margin-bottom: 0;
    .verapi-table {
      margin-top: 1rem;
    }
    > tbody {
      border: 0;
      &:nth-child(even) {
        > tr:first-child {
          background-color: #f1f5f9;
        }
      }
      &:nth-child(odd) {
        > tr:first-child {
          background-color: #fff;
        }
      }
      // > tr:first-child:hover {
      //     background-color: lighten(#007BFF, 45%);
      // }
      // > tr.is-deleted:first-child:hover {
      //     background-color: lighten(red, 40%);
      // }
      > tr {
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        // > td {
          // border: 0;
          // font-size: 0.85rem;
        // }
      }
    }
    // td, th {
    //   word-break: break-word;
    // }
    th {
      // white-space: nowrap;
      border: 0;
      font-size: 0.85rem;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1;
      position: relative;
      padding-right: 24px;
      a {
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
    tr.is-deleted {
      opacity: 0.35;
      td:first-child { position: relative;
        &:before  {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          border-right: 10px solid transparent;
          border-left: 10px solid red;
          border-bottom: 10px solid transparent;
          height: 0;
          width: 0;
          z-index: 1;
        }
      }
    }
  }
}

dd:empty {
  &:after {
    content: '-';
  }
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
